<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Not all browsers implement the manifest yet, however the <meta> tags will help bridge that gap -->
    <link rel="manifest" href="/static/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Pomodori">
    <meta name="apple-mobile-web-app-title" content="Pomodori">
    <meta name="theme-color" content="#2196F3">
    <meta name="msapplication-navbutton-color" content="#2196F3">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2196F3">
    <meta name="msapplication-starturl" content="/">

    <link rel="icon" type="image/png" sizes="512x512" href="/static/icons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/static/icons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/static/icons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/icons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/icons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/static/icons/icon-72x72.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="/static/icons/apple-icon-512x512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="384x384" href="/static/icons/apple-icon-384x384.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/static/icons/apple-icon-192x192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" type="image/png" sizes="128x128" href="/static/icons/apple-icon-128x128.png">
    <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="/static/icons/apple-icon-96x96.png">
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/static/icons/apple-icon-72x72.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pomodori</title>

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
